<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 https://maven.apache.org/xsd/maven-4.0.0.xsd" id="WebApp_ID" version="3.1">
  <display-name>Projet02-GestionParking</display-name>
 <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SecondServlet</display-name>
    <servlet-name>SecondServlet</servlet-name>
    <servlet-class>controller.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServlet</servlet-name>
    <url-pattern>/SecondServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SectionServlet</display-name>
    <servlet-name>SectionServlet</servlet-name>
    <servlet-class>controller.SectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SectionServlet</servlet-name>
    <url-pattern>/SectionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlaceServlet</display-name>
    <servlet-name>PlaceServlet</servlet-name>
    <servlet-class>controller.PlaceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaceServlet</servlet-name>
    <url-pattern>/PlaceServlet</url-pattern>
  </servlet-mapping>
 
</web-app>